<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Review Date</th>
          <th>Rating</th>
          <th>Description</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <% @product.reviews.reverse_each do |review| %>
        <tr>
          <td><%= review.created_at.in_time_zone('Pacific Time (US & Canada)').to_formatted_s(:short)  %></td>        
          <td><%= review.rating %></td>
          <td><%= review.description %></td>
          <td><%= review.user.first_name %></td>
        </tr>
       <% end %>
      </tbody>
      <tfoot>
    </table>
  </div>

  <%= form_for([@product, @review]) do |f| %>
    <div class="field">
      <%= f.label :Rating %><br>
      <%= f.select(:rating, options_for_select([0,1,2,3,4,5]), :selected => params[:option])%><br>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  </article>
</section>





